nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--nav-bar);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    font-size: 4rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.dropdownmenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;


}

button.hamburgerbutton {
    width: fit-content;
    border: none;
    background: none;
    padding-top: 0.2rem;
    outline: none;
}

.nav-open {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--nav-bar);
    padding: 1rem;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.8);

}

.nav-closed {
    display: none;
}

.nav-label {
    display: none;
}

@media (min-width: 768px) {
    .nav-closed {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .nav-open {
        position: static;
        width: auto;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .nav-closed a, .nav-open a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.4rem;
        color: var(--accent);
        text-decoration: none;
    }

    .nav-closed a svg, .nav-open a svg {
        font-size: 2rem;
    }

    .dropdownmenu {

    }

    .burgermenuicon {
        display: none;
    }

    .burgercloseicon {
        display: none;
    }
}