
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

option {
    color: var(--accent);
}

.modalBox {
    background: var(--surface);
    border: 2px solid var(--border);
    border-radius: 2rem;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
    text-align: left;

}


.modalButtons {
    display: flex;
    gap: 1rem;
}

.modalmessage {
    align-items: stretch;
}

textarea {
    resize: vertical;
    font-size: 1.5rem;
    padding: 0.5rem;
    accent-color: var(--accent);
    caret-color: var(--accent);
    outline-color: var(--accent);

}

form {
    color: var(--accent);
}

input {
    height: 2.4rem;
    font-size: 1.5rem;
    padding: 1.2rem;
    accent-color: var(--accent);
    caret-color: var(--accent);
    outline-color: var(--accent);
}


select {
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    accent-color: var(--accent);
    outline-color: var(--accent);

}

footer div {
    display: flex;
    justify-content: space-between;
}

div button {
    color: var(--text);
    background-color: var(--background-color);
    font-size: 1.6rem;
    border-radius: 1.6rem;
    padding: 1rem;
    align-content: space-between;
    accent-color: var(--accent);
    outline-color: var(--accent);
    width: 16rem;
}

div button:hover {
    color: var(--accent);
    border-color: var(--accent);
    cursor: pointer;
}

div button:disabled {
    border-color: red;
    color: var(--text-muted);
    cursor: auto;
}

@media (max-width: 480px) {
    .modalBox {
        width: 90vw;
        padding: 1rem;
    }


}