
#selfie-img {
    width: 20rem;
    height: 20rem;
    max-width: 24rem;
    border-radius: 50%;
    border: 2px solid var(--accent);
    margin-left: 2em;
}

p.taglinetext {
    font-style: italic;
    max-width: 56rem;


}

.intro-me {
    padding: 0 0 2rem 0;
}

section#aboutsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-bottom: 3rem;


}

#selfie-small {
    display: none;
}

.about-me {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.pic-mobile {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;

}

.profile-image {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    #selfie-img {
        display: none
    }

    .about-me {
        flex-direction: column;
        align-items: center;

    }

    #selfie-small {
        display: inline;
        width: 12rem;
        height: 12rem;
        max-width: 16rem;
        justify-self: center;
        margin-bottom: 1rem;
        border-radius: 50%;
        border: 2px solid var(--accent);
    }

    section#aboutsection {
        margin-bottom: 1rem;
    }

}