.card-left, .card-right {
    display: flex;
    background: var(--surface);
    border: 2px solid var(--border);
    border-radius: 2rem;
    padding: 3rem 3rem 3rem 3rem;
    margin-bottom: 2.5rem;
    align-items: center;
    will-change: transform, opacity;
    contain: layout;
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000px;

}

.card-left .project-img {
    margin: 0 2.4rem 0 1rem;
}

.card-left {
    flex-direction: row;
}

.card-right {
    flex-direction: row-reverse;
}


.project-img {
    max-width: 32vh;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    object-fit: contain;
    max-height: 50%;
    width: auto;

}

p.projectname {
    margin-bottom: 1.2rem;
}

.card-content {
    flex: 1;
    padding: 0 2rem 0 1rem;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;

}

.tech-badge {
    background: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    transition: all 0.2s ease;
}


.tech-badge:hover {


    box-shadow: 0 0 1rem var(--accent);

}


@media (max-width: 767px) {
    .card-left, .card-right {
        flex-direction: column;
    }

    .card-content {
        padding: 0;
    }

    .project-img {
        margin-bottom: 2rem !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.card-left:last-of-type,
.card-right:last-of-type {
    margin-bottom: 0;
}


#projectssection .card-left:last-of-type,
#projectssection .card-right:last-of-type {
    margin-bottom: 1rem; /* Prevents double-spacing at the bottom of the section */
}

#projectssection h2 {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--accent);
    transition: .2s ease all;
}
