footer .social-icons {
    position: sticky;
    z-index: 1000;
    background-color: var(--nav-bar);
    font-size: 2.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    /*gap: 2rem;*/
    margin: 0;
    justify-content: space-evenly;

}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2rem 2rem rgba(0, 0, 0, 0.8);


}

.contact-item {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    position: relative;
    flex: 0 1 auto;
    min-width: 0;

}

.contact-tt {
    display: none;
    position: absolute;
    top: -100%;
    transform: translateY(-50%);
    background: var(--surface);
    border: 1px solid var(--accent);
    color: var(--text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 1.4rem;
}

.contact-item:hover .contact-tt {
    display: block;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;

}

.icon-button:hover {
    color: var(--accent);

}

@media (max-width: 767px) {

    .contact-tt {

        font-size: 1.2rem;
    }

}

